
/* generics */
*{
    margin: 0;
}

header{
    height: 100px;
    background-color: cornflowerblue;
    background-image: url(img/pattern.png);
    margin-bottom: 25px;
}

#logo{
       height: 40px;
       margin-top: 50px;
}

.contenitore{
    width:1015px;
    margin: 0 auto;
}

#referenze{
height: 15px;
color: gray;
margin-bottom: 35px;
}
#text-blu{
color: aqua;
}
#commento-foto{
   font-size: small;
   margin-bottom: 20px;
}
.text-evidenziato{
    background-color: yellow;
}

